<mat-table [dataSource]="products" class="mat-elevation-z8">
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> titulo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> precio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> acciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary" > Editar</button>
            <button mat-raised-button color="warn" (click)="deleteProduct(element.id)" > Eliminar</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

