/* .price {
    display: block;
} */

.product-image {
    max-width: 100%;
}
/* Este es el elemento padre que crea angular */
:host {
   border: 1px solid #333;
  border-radius: 10px;
  display: block;
  padding: 10px;
}

.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}